input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact_body {
  background-image: url(/src/media/contact_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
    width: 100%;
}

.form_container {
  width: 900px;
  justify-content: center;
  margin: 8em auto 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1em 3em;
  
  border-radius: 5px;
  overflow: hidden;
  background: transparent;
    border: 2px solid rgba(29, 29, 29, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(45px);
}


.form_title {
  margin: 0 0 1em 0;
}

.form_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  justify-content: center;
}

.form_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 0 0 1em 0;
}

.form_box input,
.form_box textarea,
.form_box button {
  border: solid 1px rgba(0, 0, 0, 0.541);
  border-radius: 4px;
  background: transparent;
  backdrop-filter: blur(15px);
  outline: none;
  text-overflow: ellipsis;
}

.form_box input,
.form_box textarea,
.form_box button,
.form_box label {
  font-size: 1rem;
  margin-bottom: .2em;
  color: rgb(0, 0, 0);
}

.form_box label {
  margin-bottom: .5em;
  font-size: 1.2em;
}

.form_box input,
.form_box textarea {
  padding: 1em 2.5em 1em 1em;
  display: block;
}

.form_box input {
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.541);
  border-radius: 0;
  padding: 1em 1.5em  1em 0;
}

.form_box ::placeholder {
  color: rgb(83, 83, 83);
  font-family: system-ui, 'Segoe UI', Roboto, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form_box input:focus {
  outline: 0;
  border-bottom: solid 2.5px rgb(0, 0, 0);
}
.form_box textarea:focus {
  outline: 0;
  border: solid 2.5px black;
}

.form_box textarea {
  height: 130px;
  resize: none;
}

.form_box button {
  width: 60%;
  padding: 0.5em;
  justify-content: center;
  margin: 2em auto 0 auto;
  cursor: pointer;
  font-size: 1.1em;
  transition: all 250ms;
}

.form_box button:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.02);
  transition: all 250ms;
}

.form_box i {
  position: absolute;
  top: 55px;
  right: 10px;
  font-size: 1.1em;
  visibility: hidden;
}

.form_validation_row i {
  top: 15px;
}

.form_box.success input,
.form_box.success textarea {
  border: none;
  border-bottom: solid 1px rgb(12, 170, 60);
}

.form_box.error input {
  border-bottom: solid 1px rgb(255, 0, 0);
}
.form_box.error textarea {
  border: solid 1px rgb(255, 0, 0);
}

.form_box.success i.bi-check-circle {
  color: rgb(12, 170, 60);
  visibility: visible;
}

.form_box.error i.bi-exclamation-circle,
.form_box.error small {
  color: rgb(255, 0, 0);
  visibility: visible;
  font-weight: 400;
}

.form_box small {
  visibility: hidden;
}
